body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.container{
    width: 650px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    box-sizing:border-box;
    background-color: white;
    border:solid;
    border-width: thin;
}
.background{
    background-color: red;
    padding: 15px;
}